@model DepartmentVM
<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Edit Department</h4>
                    <form class="forms-sample" method="post">
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input type="text" class="form-control" asp-for="Title" />
                        </div>
                        <div class="form-group">
                            <label asp-for="SelectedDoctors">Doctors</label>
                            <select asp-for="SelectedDoctors" class="js-example-basic-multiple form-control" multiple="multiple" style="width: 100%">
                                @foreach (var doctor in Model.Doctors)
                                {
                                    @if (Model.SelectedDoctors.FirstOrDefault(sd => sd.Id == doctor.Id) is not null)
                                    {
                                        <option selected value="@doctor.Id">@doctor.FirstName @doctor.LastName</option>
                                    }
                                    else
                                    {
                                        <option value="@doctor.Id">@doctor.FirstName @doctor.LastName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div asp-validation-summary="All" style="color:red"></div>
                        <button type="submit" class="btn btn-primary mr-2" asp-action="Edit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
