@model _5_1_25_task1.ViewModels.AdminIndexViewModel

<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Doctors</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Image</th>
                                <th scope="col">Fullname</th>
                                <th scope="col">Department</th>
                                <th scope="col">Department Id</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var doctor in Model.Doctors)
                            {
                                <tr>
                                    <th scope="row">@doctor.Id</th>
                                    <td>@doctor.Image</td>
                                    <td>@doctor.Fullname</td>
                                    <td>@doctor.Department?.Title</td>
                                    <td>@doctor.DepartmentId</td>
                                    <td><a class="btn btn-danger" asp-controller="Doctor" asp-action="DeleteDoctor" asp-route-id="@doctor.Id">Delete</a></td>
                                    <td><a class="btn btn-info" asp-controller="Doctor" asp-action="UpdateDoctor" asp-route-id="@doctor.Id">Update</a></td>
                                </tr>
                            }
                            <tr>
                                <td><a class="btn btn-success" asp-controller="Doctor" asp-action="CreateDoctor">Create</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h6 class="mb-4">Departments</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Title</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var department in Model.Departments)
                            {
                                <tr>
                                    <th scope="row">@department.Id</th>
                                    <td>@department.Title</td>
                                    <td><a class="btn btn-danger" asp-controller="Department" asp-action="DeleteDepartment" asp-route-id="@department.Id">Delete</a></td>
                                    <td><a class="btn btn-info" asp-controller="Department" asp-action="UpdateDepartment" asp-route-id="@department.Id">Update</a></td>
                                    <td><a class="btn btn-warning" asp-controller="Department" asp-action="AddDoctors" asp-route-id="@department.Id">Add Doctors</a></td>
                                </tr>
                            }
                            <tr>
                                <td><a class="btn btn-success" asp-controller="Department" asp-action="CreateDepartment">Create</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Table End -->